Source: refind-btrfs
Section: python
Priority: optional
Maintainer: Ian Santopietro <isantop@gmail.com>
Build-Depends: debhelper (>= 11),
               dh-python,
               python3-all,
               python3-dbus,
               python3-debian,
               python3-distro,
               python3-gnupg,
               python3-lazr.restfulclient,
               python3-launchpadlib,
               python3-setuptools,
               python3-distutils,
               python3-pytest,
               python3-installer,
               python3-wheel,
               python3-build,
Standards-Version: 4.1.3
Homepage: https://github.com/Venom1991/refind-btrfs
XS-Python3-Version: >= 3.7
Vcs-Browser: https://github.com/Venom1991/refind-btrfs
Vcs-Git: https://github.com/Venom1991/refind-btrfs

Package: refind-btrfs
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends},
         ${shlibs:Depends},
         btrfs-progs, python3-antlr4, python3-injector, python3-more-itertools, python3-pid, python3-semantic-version, python3-systemd, python3-tomlkit, python3-transitions, python3-typeguard, python3-watchdog, refind
Description: Generate rEFInd manual boot stanzas from Btrfs snapshots

